body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0d47a1;
}

.cadastro {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    background: #ff9800;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e68900;
}

#boletim {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;

}
